.row#notification-bar {
	position: absolute;
	z-index: 999;
	width: 100%;
	display: none;
}

.notifications .notification {
	font-size: 20px;
	color: white;
}
.notifications .notification.success {
	background-color: green;
}
.notifications .notification.info {
	background-color: blue;
}
.notifications .notification.warning {
	background-color: orange;
}
.notifications .notification.error {
	background-color: red;
}