/* Main color in adobe color: #403BFF */
.main {
	background-color: #212121;
}

.btn {
	background-color: #403BFF;
	color: white;
}

#serverList a {
	font-weight: bold;
	color: #EDEDED;

}
#serverList a:hover,  #serverList a:focus {
	background-color: #404040;
}

#serverList .greyed-out a {
	font-weight: normal;
	color: #6B6B6B;
}

#serverList .greyed-out a:hover {
	cursor: not-allowed;
}

.menubar {
	margin-top: -5px;
	margin-bottom: 15px;
}
.menubar > button {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.table-dark {
	color: white;
	background-color: #363636;
}